@{
    ViewData["Title"] = "Müşteri Bakiye Seyri - Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Müşteri Bakiye Seyri Sistemi</h1>
    <p class="lead">Müşterilerinizin bakiye hareketlerini takip edin.</p>
    <a href="@Url.Action("Index", "Musteri")" class="btn btn-primary btn-lg mt-3">Müşteri Bakiye Seyrine Git</a>
</div>